<div class="pb-2 mb-2 border-bottom row">
  <div class="col-1 d-flex justify-content-center align-items-center">
    <div class="p-0 p-xl-2 d-none d-sm-block w-100">
      <img
        src="{{url_for('static', filename='job_item_icon.jpg')}}"
        class="img-fluid img-thumbnail"
        alt="job item pic"
      />
    </div>
  </div>
  <div class="col-8">
    <h4>{{ job['title'] }}</h4>
    <div><b>Location: </b>{{ job['location'] }}</div>
    {% if 'salary' in job %}
    <div><b>Salary: </b>{{ job['currency'] }} {{ job['salary'] }}</div>
    {% endif %}
  </div>
  <div class="col-3 d-flex justify-content-center align-items-center">
    {% if 'url' in job %}
    <a
      href="{{ job['url'] }}"
      type="button"
      class="btn btn-outline-dark rounded-pill"
      >Apply</a
    >
    {% else %}
    <a
      type="button"
      class="btn btn-outline-dark rounded-pill"
      href="/job/{{ job['id'] }}"
      >Apply</a
    >
    {% endif %}
  </div>
</div>
