<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ job.title }} - {{ company_name }} Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container px-lg-5">
      <img
        class="img-fluid rounded object-fit-cover banner"
        src="{{url_for('static', filename='job_banner.jpg')}}"
        alt="banner pic"
      />
      <h1 class="text-center mt-4 mb-4">{{company_name}} Careers</h1>
      <h3>{{ job.title }}</h3>
      <h4>Location</h4>
      <p>{{ job.location }}</p>
      <h4>Responsibilities</h4>
      <ul>
        {% for sentence in job.responsibilities.split('\n') %}
          {% if sentence %}
            <li>{{ sentence.strip() }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <h4>Requirements</h4>
      <ul>
        {% for sentence in job.requirements.split('\n') %}
          {% if sentence %}
            <li>{{ sentence.strip() }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <h4>Salary</h4>
      <p>{{ job.currency }} {{ job.salary }}</p>
      <h4>Application Deadline</h4>
      <p>{{ job.application_deadline }}</p>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
